.form {
  /* padding: 29px 0px 30px 17px; */
  /* padding-left: 17px; */
  min-width: 352px;
  min-height: 180px;
  /* background-color: #fcfcf7; */
}

.form__title {
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 18.4px;
}

.form__input {
  min-width: 90%;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #CFCFCF;
  padding: 11px;
  background: #ffffffba;
}

.form__input::placeholder{
  color: #000;
  font-size: 14px;
}

.form__input:hover {
  border: 1px solid #ff85637c;

}

.form__input:focus {
  border-color: #ff85637c;
  outline: none;
}

.form__input--textarea {
  resize: none;
}
