<div class="decor-yandex__title">Яндекс карта</div>
<div id="map" style="width: 100%;  height: 100vh;"></div>
<div class="decor-author__title">By Kirill Kuklin</div>

{{!-- <div class="info-window">
  <h4 class="info-window__title">Использование</h4>
  <p class="info-window__text">Кликните по нужному месту и оставьте отзыв</p>
</div> --}}